@import "../libs/css/reset";
@import "../libs/css/icomoon";
@import "../libs/css/swiper-bundle.min";
@import "vars";
@import "fonts";
@import "global";

.header {
  padding-top: 30px;
  position: relative;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    color: $font-color2;
    font-weight: 400;
    flex: 0 1 30%;
  }

  &__top-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 70%;
    max-width: 755px;

    // li + li {
    //   margin-left: 47px;
    // }
  }

  &__location {
    max-width: 185px;
    display: flex;
    align-items: center;

    .icon-location {
      font-size: 22px;
      margin-right: 5px;
    }

    span:last-child {
      color: $font-color3;
    }
  }

  &__whatsapp {
    padding: 14px 27px;
    border: 1px solid #25CF43;
    border-radius: 84px;
    display: flex;
    align-items: center;
    color: #25CF43;

    .icon-whatsapp {
      margin-right: 8px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: $font-color1;

    .icon-phone {
      margin-right: 8px;
      font-size: 24px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger,
  &__contacts-mobile {
    display: none;
  }

  &__list {
    display: flex;

    li {
      padding: 0 32px;
    }

    li + li { 
      border-left: 1px solid #999999;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
}

.main {
  padding-top: 100px;
  padding-bottom: 50px;

  &__inner {
    display: flex;
  }

  &__left,
  &__right {
    flex: 0 1 50%;
  }

  &__title {
    font-size: 84px;
    color: $color-blue;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 32px;
    line-height: 40px;
    color: #2D2D2D
  }

  &__info {
    font-size: 24px;
    line-height: 28px;
    color: $font-color1;
    margin-bottom: 60px;
    max-width: 455px;
  }

  &__btn {
    color: $color-blue;
    border: 2px solid $color-blue;
    border-radius: 39px;
    background-color: #fff;
    padding: 24px 53px;
    margin-bottom: 18px;
    font-size: 22px;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 65px;
      height: 93px;
      background-image: url(../images/main-vector.svg);
      background-position: center center;
      background-size: cover;
      right: -110px;
      top: -80px;
    }
  }

  &__small-info {
    text-align: center;
    max-width: 305px;
  }

  &__right {
    background-image: url(../images/main-bg.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 40px;
  }

  &__right-item {
    position: relative;
    padding-left: 20px;
    transition: all 1s ease;
    display: inline-block;
    margin-bottom: 10px;

    &::before {
      content: '';
      position: absolute;
      background-color: $color-blue;
      z-index: 20;
      width: 22px;
      height: 22px;
      border-radius: 5px;
      top: 50%;
      left: 6px;
      transform: rotate(45deg) translateY(-50%);
      transform-origin: top;
      right: 10px;
      box-shadow: 0px 1px 8px rgba(0, 90, 233, 0.33), inset 0px 0px 9px rgba(255, 255, 255, 0.76);
      transition: all 0.3s ease;
    }

    &:hover::before {
      box-shadow: 0px 1px 8px rgba(207, 233, 0, 0.33), inset 0px 0px 9px rgba(255, 255, 255, 0.76);
      background-color: $color-red;
    }
    
    &:hover &__inner{
      color: #fff;
    }

    &:hover &__inner-over{
      left: 0;
    }
  }

  &__right-item__inner {
      font-size: 24px;
      line-height: 100%;
      color: #000000;
      padding: 30px 0px 30px 60px;
      min-width: 450px;
      border-radius: 6px;
      background: rgba(255, 255, 255, 0.67);
      box-shadow: 0px 22px 44px rgba(0, 90, 233, 0.15);
      backdrop-filter: blur(15px);
      position: relative;
      overflow: hidden;
      cursor: default;
      transition: all ease 0.5s;

      &::before {
        content: '';
        position: absolute;
        background-color: $color-lightblue;
        width: 40px;
        height: 40px;
        border-radius: 9px;
        top: 50%;
        left: -28px;
        transform: rotate(45deg) translateY(-50%);
        transform-origin: top;
        right: 10px;
      }

      &-over {
        position: absolute;
        top: 0;
        z-index: -1;
        height: 100%;
        background-color: $color-blue;
        width: 100%;
        left: -100%;
        transition: all 0.5s ease;
        &::before {
          content: '';
          position: absolute;
          background-color: $color-blue;
          width: 100px;
          height: 100px;
          border-radius: 9px;
          top: 50%;
          transform: rotate(45deg) translateY(-50%);
          transform-origin: top;
          right: -25px;
        }
      }
    }
}

.winter-mode {
  padding-bottom: 90px;

  .section-title {
    margin-bottom: 56px;
  }

  .section-content {
    padding-top: 10px;
  }

  .section-slider {
    background-color: #F9F9F9;;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px;
  }

  &__left {
    flex: 0 1 28%;
  }

  &__right {
    flex: 0 1 68%;
  }
}

.big-control {
  padding: 90px 0;
  background-color: $color-lightblue;

  .section-title {
    margin-bottom: 64px;
  }

  .section-slider {
    background-color: #fff;
  }

  &__inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 35px;
    margin-bottom: 70px;
  }

  &__img {
    border-radius: 6px;
    overflow: hidden;
    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }

  &__right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .section-list--background {
    background-color: transparent;
    border: 2px solid #FFFFFF;
  }
}

.complex-preparation {
  padding: 90px 0;

  .section-title {
    margin-bottom: 56px;
  }

  .section-slider {
    background-color: #F9F9F9;
  }

  .section-content__list {
    margin-bottom: 80px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 35px;
    margin-bottom: 55px;
  }

  &__img {
    border-radius: 6px;
    overflow: hidden;
    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }

  &__left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

@import "media";
