@import "../libs/css/reset";
@import "../libs/css/icomoon";
@import "../libs/css/swiper-bundle.min";
@import "vars";
@import "fonts";
@import "global";

.header {
  padding-top: 30px;
  position: relative;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    color: $font-color2;
    font-weight: 400;
    flex: 0 1 30%;
  }

  &__top-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 70%;
    max-width: 755px;

    // li + li {
    //   margin-left: 47px;
    // }
  }

  &__location {
    max-width: 185px;
    display: flex;
    align-items: center;

    .icon-location {
      font-size: 22px;
      margin-right: 5px;
    }

    span:last-child {
      color: $font-color3;
    }
  }

  &__whatsapp {
    padding: 14px 27px;
    border: 1px solid #25CF43;
    border-radius: 84px;
    display: flex;
    align-items: center;
    color: #25CF43;

    .icon-whatsapp {
      margin-right: 8px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: $font-color1;

    .icon-phone {
      margin-right: 8px;
      font-size: 24px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger,
  &__contacts-mobile {
    display: none;
  }

  &__list {
    display: flex;

    li {
      padding: 0 32px;
    }

    li + li { 
      border-left: 1px solid #999999;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
}

.main {
  padding-top: 100px;
  padding-bottom: 50px;

  &__inner {
    display: flex;
  }

  &__left,
  &__right {
    flex: 0 1 50%;
  }

  &__title {
    font-size: 84px;
    color: $color-blue;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 32px;
    line-height: 40px;
    color: #2D2D2D
  }

  &__info {
    font-size: 24px;
    line-height: 28px;
    color: $font-color1;
    margin-bottom: 60px;
    max-width: 455px;
  }

  &__btn {
    color: $color-blue;
    border: 2px solid $color-blue;
    border-radius: 39px;
    background-color: #fff;
    padding: 24px 53px;
    margin-bottom: 18px;
    font-size: 22px;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 65px;
      height: 93px;
      background-image: url(../images/main-vector.svg);
      background-position: center center;
      background-size: cover;
      right: -110px;
      top: -80px;
    }
  }

  &__small-info {
    text-align: center;
    max-width: 305px;
  }

  &__right {
    background-image: url(../images/main-bg.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 40px;
  }

  &__right-item {
    position: relative;
    padding-left: 20px;
    transition: all 1s ease;
    display: inline-block;
    margin-bottom: 10px;

    &::before {
      content: '';
      position: absolute;
      background-color: $color-blue;
      z-index: 20;
      width: 22px;
      height: 22px;
      border-radius: 5px;
      top: 50%;
      left: 6px;
      transform: rotate(45deg) translateY(-50%);
      transform-origin: top;
      right: 10px;
      box-shadow: 0px 1px 8px rgba(0, 90, 233, 0.33), inset 0px 0px 9px rgba(255, 255, 255, 0.76);
      transition: all 0.3s ease;
    }

    &:hover::before {
      box-shadow: 0px 1px 8px rgba(207, 233, 0, 0.33), inset 0px 0px 9px rgba(255, 255, 255, 0.76);
      background-color: $color-red;
    }
    
    &:hover &__inner{
      color: #fff;
    }

    &:hover &__inner-over{
      left: 0;
    }
  }

  &__right-item__inner {
      font-size: 24px;
      line-height: 100%;
      color: #000000;
      padding: 30px 0px 30px 60px;
      min-width: 450px;
      border-radius: 6px;
      background: rgba(255, 255, 255, 0.67);
      box-shadow: 0px 22px 44px rgba(0, 90, 233, 0.15);
      backdrop-filter: blur(15px);
      position: relative;
      overflow: hidden;
      cursor: default;
      transition: all ease 0.5s;

      &::before {
        content: '';
        position: absolute;
        background-color: $color-lightblue;
        width: 40px;
        height: 40px;
        border-radius: 9px;
        top: 50%;
        left: -28px;
        transform: rotate(45deg) translateY(-50%);
        transform-origin: top;
        right: 10px;
      }

      &-over {
        position: absolute;
        top: 0;
        z-index: -1;
        height: 100%;
        background-color: $color-blue;
        width: 100%;
        left: -100%;
        transition: all 0.5s ease;
        &::before {
          content: '';
          position: absolute;
          background-color: $color-blue;
          width: 100px;
          height: 100px;
          border-radius: 9px;
          top: 50%;
          transform: rotate(45deg) translateY(-50%);
          transform-origin: top;
          right: -25px;
        }
      }
    }
}

.winter-mode {
  padding-bottom: 90px;

  .section-title {
    margin-bottom: 56px;
  }

  .section-content {
    padding-top: 10px;
  }

  .section-slider {
    background-color: #F9F9F9;;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px;
  }

  &__left {
    flex: 0 1 28%;
  }

  &__right {
    flex: 0 1 68%;
  }
}

.big-control {
  padding: 90px 0;
  background-color: $color-lightblue;

  .section-title {
    margin-bottom: 64px;
  }

  .section-slider {
    background-color: #fff;
  }

  &__inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 35px;
    margin-bottom: 70px;
  }

  &__img {
    border-radius: 6px;
    overflow: hidden;
    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }

  &__right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .section-list--background {
    background-color: transparent;
    border: 2px solid #FFFFFF;
  }
}

.complex-preparation {
  padding: 90px 0;

  .section-title {
    margin-bottom: 56px;
  }

  .section-slider {
    background-color: #F9F9F9;
  }

  .section-content__list {
    margin-bottom: 80px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 35px;
    margin-bottom: 55px;
  }

  &__img {
    border-radius: 6px;
    overflow: hidden;
    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }

  &__left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.air-box {
  padding: 90px 0;
  background-color: $color-lightblue;

  .section-title {
    margin-bottom: 56px;
  }

  &__content {
    display: flex;
    column-gap: 30px;
    margin-bottom: 80px;
  }

  &__content-img,
  &__content-info {
    flex: 0 1 50%;
  }

  &__content-img img {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  &__content-info {
    padding-top: 35px;

    p {
      font-size: 22px;
      line-height: 28px;
      color: $font-color2;
      margin-bottom: 20px;
    }

    li {
      color: $font-color2;
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      span {
        font-size: 24px;
        margin-right: 17px;
        flex-shrink: 0;
      }

      .icon-box {
        width: 18px;
        height: 18px;
        background-color: #fff;
        border-radius: 5px;
        position: relative;
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          &.icon-check {
            font-size: 40px;
            top: 110%;
          }
        }
      }
    }
  }

  &__cards {
    margin-bottom: 16px;
  }

  &__cards-title {
    font-size: 24px;
    color: #000000;
    margin-bottom: 38px;
    text-align: center;
  }

  &__cards-inner {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
  }

  &__card {
    flex: 0 1 calc(100% / 3 - 40px);
    background: #FFFFFF;
    border-radius: 6px;
    padding: 35px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
  }

  &__card-rectangles {
    position: absolute;
    top: -22px;
    left: 50%;
    width: 44px;
    height: 44px;
    background-color: $color-lightblue;
    border-radius: 5px;
    padding: 11px;
    transform: rotate(-45deg) translateX(-50%);
    transform-origin: left;
    span {
      display: block;
      width: 22px;
      height: 22px;
      background: $color-blue;
      box-shadow: 0px 1px 8px rgba(0, 90, 233, 0.33), inset 0px 0px 9px rgba(255, 255, 255, 0.76);
      border-radius: 5px;
    }
  }

  &__card-top {
    flex-grow: 1;
  }

  &__card-title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
  }

  &__card-text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $font-color3;
    margin-bottom: 20px;
  }

  &__card-price {
    text-align: center;
    font-size: 26px;
    line-height: 40px;
    color: $color-blue;
  }

  &__card-subtitle {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: $font-color3;
  }

  &__additional {
    display: flex;
    border: 1px dashed #1567E9;
    border-radius: 6px;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 30px;
  }

  &__additional-left {
    flex: 0 1 30%;
    padding-top: 30px;

    h6 {
      color: $color-blue;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 24px;
    }

    li {
      font-size: 16px;
      line-height: 24px;
      color: $font-color1;
    }
  }

  &__additional-img {
    height: 10px;
  }

  &__additional-right {
    flex: 0 1 40%;
    padding: 20px 0;
    font-size: 14px;
    line-height: 18px;
    color: $font-color1;
  }
}

.calc {
  background: rgba(21, 103, 233, 0.24);
  position: relative;
  

  &__inner {
    padding: 85px 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__inner::before {
    content: '';
    width: 540px;
    height: 540px;
    position: absolute;
    left: 5%;
    top: -50%;
    border-radius: 50%;
    background: rgba(98, 170, 255, 0.39);
    filter: blur(250px);
  }

  &__inner::after {
    content: '';
    width: 654px;
    height: 654px;
    position: absolute;
    left: 50%;
    top: -10%;
    background: rgba(98, 170, 255, 0.39);
    filter: blur(250px);
    border-radius: 50%;
  }

  &__img-mobile {
    display: none;
  }

  &__inner-rectangle1 {
    position: absolute;
    left: 0;
    bottom: -11%;
    width: 330px;
    height: 330px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 57px;
    transform: rotate(-45deg);
    transform-origin: right;
    z-index: 1;
  }

  &__inner-rectangle2 {
    position: absolute;
    right: 0;
    top: -8%;
    width: 140px;
    height: 140px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 36px;
    transform: rotate(-45deg);
    transform-origin: left;
    z-index: 1;
  }

  &__info {
    position: relative;
    z-index: 5;
    max-width: 455px;
  }

  &__info-title {
    font-size: 32px;
    line-height: 40px;
    color: $font-color2;
    margin-bottom: 15px;
  }

  &__info-text {
    font-size: 18px;
    line-height: 24px;
    color: $font-color1;
    margin-bottom: 57px;
  }

  &__info-btn {
    padding: 24px 50px;
    display: block;
    margin-bottom: 18px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #005AE9;
    box-shadow: 0px 22px 44px -12px #005AE9;
    border-radius: 71px;
    border: none;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 65px;
      height: 93px;
      background-image: url(../images/main-vector.svg);
      background-position: center center;
      background-size: cover;
      right: -65px;
      top: -80px;
      transform: rotate(-27deg);
    }

    &:hover {
      box-shadow: none;
      background: #085ADB;
    }
  }

  &__info-small {
    text-align: center;
    max-width: 365px;
    font-size: 12px;
    line-height: 14px;
    color: $font-color1;
  }

  &__rectangle {
    position: absolute;
    width: 635px;
    height: 635px;
    top: -15%;
    left: 50%;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: inset 0px 0px 193px rgba(255, 255, 255, 0.19);
    border-radius: 57px;
    transform: rotate(-45deg);
    padding: 90px;
  }

  &__rectangle-inner {
    width: 440px;
    height: 440px;
    border-radius: 57px;
    background: rgba(255, 255, 255, 0.15);
  }

  &__img {
    left: 58%;
    top: 0;
    z-index: 5;
    width: 435px;
    height: 435px;
    position: absolute;
    border-radius: 47px;
    transform: rotate(-45deg);
    overflow: hidden;

    img {
      transform: rotate(45deg);
      position: absolute;
      bottom: -17%;
      left: -12%;
      // max-width: 100%;
      display: block;
    }

    &-bg {
      width: 400px;
      height: 400px;
      position: absolute;
      background: #2F6DCE;
      border-radius: 47px;
      z-index: -1;
      bottom: 0;
      left: 0;
    }
  }
}

.special-orders {
  padding: 90px 0;

  .section-title {
    margin-bottom: 95px;
  }

  &__slider {
    overflow: hidden;
    position: relative;
  }

  &__slider-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }

  &__slider-controls {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-pagination-bullets {
      width: auto;
    }
  }

  &__slider-pagination {
    display: flex;
    margin: 0 70px;
    align-items: center;
  }

  &__slider-pagination-bullet {
    display: block;
    margin: 0 10px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #EBECF0;
    border-radius: 4px;
    width: 12px;
    height: 12px;
    background-blend-mode: soft-light, normal;
    transition: all 0.1s ease;

    &-active {
      width: 16px;
      height: 16px;
      border: 1px solid $color-blue;
      background: transparent;
    }
  }

  &__slider-button-prev,
  &__slider-button-next {
    width: 38px;
    height: 38px;
    background-color: $color-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease;

    &:hover {
      background-color: #1353b7;
    }

    span {
      font-size: 22px;
      color: #fff;
    }

    &.swiper-button-disabled {
      opacity: 0.5;
    }
  }

  &__card {
    flex: 0 1 calc(100% / 3 - 20px);
    margin-bottom: 30px;
    background-color: $color-lightblue;
    border-radius: 6px;
    overflow: hidden;

    &-img {
      max-height: 260px;
      overflow: hidden;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
      }
    }

    &-text {
      color: $font-color3;
      padding: 20px 20px 35px 20px;
    }
  }
}

.about {
  padding: 90px 0;
  background-color: $color-lightblue;

  .section-title {
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  &__content-text,
  &__content-slider {
    flex: 0 1 calc(50% - 10px);
  }

  &__content-text {
    p {
      font-size: 18px;
      line-height: 24px;
      color: $font-color2;
    }
    p + p {
      margin-top: 20px;
    }
  }

  &__content-slider {
    overflow: hidden;
    position: relative;

    &-button-prev,
    &-button-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 38px;
      height: 38px;
      z-index: 1;
      background: $color-blue;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.1s ease;

      &:hover {
        background-color: #1353b7;
      }

      span {
        font-size: 22px;
        color: #fff;
      }

      &.swiper-button-disabled {
        opacity: 0.5;
      }
    }

    &-button-prev {
      left: 0;
    }

    &-button-next {
      right: 0;
    }

    &-pagination {
      display: none;
      justify-content: center;
      margin-top: 17px;
      align-items: center;
    }

    &-pagination-bullet {
      width: 10px;
      height: 10px;
      background: #FFFFFF;
      border-radius: 50%;
      margin: 0 5px;
      transition: all 0.1s ease;

      &-active {
        border: 1px solid $color-blue;
        width: 12px;
        height: 12px;
        background-color: transparent;
      }
    }
  }

  &__content-slide {
    padding: 0 18px;
    border-radius: 6px;
    overflow: hidden;
    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }

  &__card {
    flex: 0 1 calc(100% / 4 - 23px);
  }

  &__card-border-icon {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    // border: 2px solid red;
    background-color: $color-lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -27px;
    left: -27px;
    transform: rotate(-45deg);

    div {
      width: 40px;
      height: 40px;
      background-color: $color-blue;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      display: block;
      font-size: 26px;
      transform: rotate(45deg);
    }
  }

  &__contacts {
    padding: 30px 20px 30px 30px;
    border: 1px solid $color-blue;
    border-radius: 6px;
    height: 100%;
    position: relative;
    z-index: 5;

    .about__card-border-icon {
      z-index: 6;
    }

    &-title {
      font-size: 18px;
      line-height: 24px;
      color: $color-blue;
      margin-bottom: 12px;
    }

    ul {
      margin-bottom: 20px;
    }

    li {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 30px;
      color: $font-color3;

      span:first-child {
        margin-right: 11px;
      }
    }

    &-whatsapp {
      border: 1px solid #25CF43;
      color: #25CF43;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 84px;
      padding: 14px 0;

      span {
        margin-right: 8px;
        font-size: 16px;
      }
    }
  }

  &__schedule {
    padding: 30px 20px 30px 30px;
    border: 1px solid $color-blue;
    border-radius: 6px;
    height: 100%;
    position: relative;

    &-title {
      font-size: 18px;
      line-height: 24px;
      color: $color-blue;
      margin-bottom: 12px;
      max-width: 80px;
    }

    &-subtitle {
      font-size: 16px;
      line-height: 24px;
      color: $font-color2;
    }

    &-list {
      margin-bottom: 12px;
      li {
        font-size: 16px;
        line-height: 22px;
        color: $font-color3;
      }
    }
  }

  &__more {
    padding: 60px 25px 0 25px;
    background-color: #FFFFFF;
    border-radius: 6px;
    overflow: hidden;
    height: 100%;
    position: relative;

    &-title {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      color: $font-color2;
      margin-bottom: 17px;
    }

    &-btn {
      color: #FFFFFF;
      background: $color-blue;
      border: none;
      border-radius: 27px;
      margin: 0 auto;
      display: block;
      padding: 14px 54px;
      margin-bottom: 12px;
      cursor: pointer;
    }

    &-img {
      height: 0;
      img {
        max-width: 100%;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 97px;
      height: 49px;
      background-image: url(../images/about-more-bg-1.png);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 84px;
      height: 54px;
      background-image: url(../images/about-more-bg-2.png);
    }
  }

  &__links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__map,
  &__social {
    flex: 0 1 calc(100% / 2 - 15px);
  }

  &__map {
    border-radius: 6px;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    a {
      max-width: 100px;
    }
  }

  &__social {
    border: 1px dashed $color-blue;
    border-radius: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 14px;
      line-height: 16px;
      color: $font-color2;
      margin-bottom: 20px;
      max-width: 160px;
    }

    a + a {
      margin-left: 12px;
    }

    span {
      font-size: 30px;
      border: 1px solid $color-blue;
      border-radius: 6px;
      color: $color-blue;
    }
  }
}

@import "media";
